 <div class="developer-details">
      <h4>Thomas Obuya</h4>
      <div class="socials">
        <a href="https://github.com/tobuya" target="_blank" class="social-link">GitHub</a>
        <a href="mailto:thomasobuya95@gmail.com" target="_blank" class="social-link">Email</a>
        <a href="https://linkedin.com/in/tobuya" target="_blank" class="social-link">LinkedIn</a>
      </div>
</div>
